@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  box-sizing: border-box;

  /* font-family: ; */
}
body {
  background-color: var(--background-color);
}

.sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  margin-bottom: 20px;
  margin: 0 auto;
}
.menu ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
  transition: 1s;
}

.menu li {
  list-style: none;
  padding: 10px;
  position: relative;
}
.menu a {
  text-decoration: none;
  color: rgb(67, 67, 67);
  font-weight: 450;
  display: flex;
}
.menu ul :hover {
  background-color: #ebebeb;
  color: #32844b;
}
.menu ul .active {
  background-color: #ebebeb;
  color: #32844b;
  border-left: 3px solid #32844b;
}

/* .menu ul :active{
  border-left: 4px solid #004e98;
  color: red;
transform:translate(2);
} */
/* .menu-icon img :hover {
  background-color: #ebebeb;
  color: #004e98;
} */

.menu-list p {
  margin-left: 10px;
}

.stroke {
  width: 2.5px;
  height: 25px;
  border-radius: 5px;
  background-color: #32844b;
  float: left;
  position: absolute;
  left: 0;
  display: none;
}
.stroke:active {
  display: block;
}

.title {
  margin-left: 210px;
}
input {
  background-color: rgba(244, 244, 244, 1);
}
input::placeholder {
  padding-left: 10px;
}
.ticket-body,
.dash-body,
.feed-body,
.comp-body,
.back {
  margin-left: 17%;
}
.tab-list {
  margin: 20px ;
}

/* table styles */
.staffTable {
  width: 100%;
  padding: 5px;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-collapse: collapse;
}
.table-head {
  height: 40px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center;  */
  margin: 0;
  padding: 0;
  color: black;
  /* border: none; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

th {
  border: none;
  text-align: left;
  margin: 0;
  padding: 10px;
}
.rows td {
  padding: 25px;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  color: rgba(130, 130, 130, 1);
}
.userpic {
  width: 35px;
  border-radius: 20px;
  align-content: left;
}
.staff-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.clockedstatus {
  /* background-color: rgba(255, 205, 205, 0.33); */
}
.stat {
  color: #cd000c;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(255, 205, 205, 0.33);
}
.circle {
  background-color: #cd000c;
  border-radius: 4px;
  width: 9px;
  height: 9px;
  margin-right: 6px;
}
.stat2 {
  color: rgba(205, 0, 74, 1);
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(255, 167, 167, 0.15);
  /* width: 110px; */
}
.circle-not {
  background-color: rgb(243, 162, 130);
  border-radius: 4px;
  width: 9px;
  height: 9px;
  margin-right: 6px;
}
.stat3 {
  color: rgba(152, 148, 148, 1);
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(152, 148, 148, 0.15);
  width: 110px;
}
.circle-low {
  background-color: rgba(152, 148, 148, 1);
  border-radius: 4px;
  width: 9px;
  height: 9px;
  margin-right: 6px;
}
.accept {
  background-color: #32844b;
  color: white;
}
.assign {
  border: 1px solid #32844b;
  color: #32844b;
}
.down {
  border-color: #32844b;
}
.greyline {
  background-color: #d9d9d9;
}
.greenline {
  background-color: #32844b;
}
.page-no {
  border: 1px solid #434343;
}
.box1 {
  background-color: #6c60ff;
}

/* popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-inner {
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  background-color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vh;
  padding: 10px 42px 40px;
}
.button-open {
  border: #a7d49b 2px solid;
  font-size: 14px;
  transition: 0.5ms;
}
.content-open{
  display: flex;
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.dropdown-contents{
  z-index: 100;
  height: 300px;
  transform: translateY(-5%);
  transition: transform 150ms ease-in-out;
  opacity: 100ms ease-in-out;
  pointer-events: none;
}
.dropdown-contents:hover{
background-color: #eaeaea;
}
.closedButton{
  color: white;
  background-color: #32844b;
}
.select{
  border: 1px solid #32844b;
color: #32844b;
cursor: pointer;
}
.activeTab{
  margin: 1rem;
  border-bottom: 3px solid #32844b;
  border-radius: 3px;
  color: #32844b;
  padding: 0 2rem;
  font-weight: 500;
}


/* dark mode theme */
:root {
  --background-color: #f7f7f7;
  --foreground-color: #003cff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #32844b;
  --togge-fg: #0bf751;
}

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --foreground-color: #567aff;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --togge-fg: #00a6ff;
}


/* mobile responsive styles */
@media screen and (max-width:900px){
  .sidebar{

  }
  .menu-list p{
    display: none;
  }
  .rightTopSection{
    display: none;
  }
}