@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  
  /* font-family: ; */
}
body{
  background-color: rgba(247, 247, 247, 1);
}

.sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  margin-bottom: 20px;
  margin: 0 auto;
}
.menu ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
  transition: 1s;
}

.menu li {
  list-style: none;
  padding: 10px;
  position: relative;
}
.menu a {
  text-decoration: none;
  color: rgb(67, 67, 67);
  font-weight: 450;
  display: flex;
}
.menu ul :hover{
  background-color: #ebebeb;
  color:  #32844B;
 
}
.menu ul .active {
  background-color: #ebebeb;
  color:  #32844B;
  border-left: 3px solid  #32844B;
}

/* .menu ul :active{
  border-left: 4px solid #004e98;
  color: red;
transform:translate(2);
} */
/* .menu-icon img :hover {
  background-color: #ebebeb;
  color: #004e98;
} */

.menu-list p {
  margin-left: 10px;
}

.stroke {
  width: 2.5px;
  height: 25px;
  border-radius: 5px;
  background-color:  #32844B;
  float: left;
  position: absolute;
  left: 0;
  display: none;
}
.stroke:active {
  display: block;
}

.title{
  margin-left:210px ;
 
}
input{
  background-color: rgba(244, 244, 244, 1);
}
input::placeholder{
  padding-left: 10px;
}
.ticket-body, .dash-body, .feed-body, .comp-body{
  margin-left: 17%;
 
}
.tab-list{
  margin: 20px 20px 20px 0;
}

/* table styles */
.staffTable {
  width: 100%;
  padding: 5px;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-collapse: collapse;
}
.table-head {
  height: 40px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center;  */
  margin: 0;
  padding: 0;
  color: black;
  /* border: none; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

th {
    border: none;
    text-align: left;
    margin: 0;
    padding: 10px;
}
.rows td {
  padding: 10px;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  color: rgba(130, 130, 130, 1);
}
.userpic {
  width: 35px;
  border-radius: 20px;
  align-content: left;
}
.staff-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.clockedstatus {
  /* background-color: rgba(255, 205, 205, 0.33); */
}
.stat {
  color: #CD000C;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color:rgba(255, 205, 205, 0.33)
}
.circle {
  background-color: #CD000C;
  border-radius: 4px;
  width: 9px;
  height: 9px;
  margin-right: 6px;
}
.stat2 {
    color: rgba(205, 0, 74, 1);
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(255, 167, 167, 0.15);
    /* width: 110px; */
  }
  .circle-not {
    background-color: rgb(243, 162, 130);
    border-radius: 4px;
    width: 9px;
    height: 9px;
    margin-right: 6px;
  } 
  .stat3 {
    color:  rgba(152, 148, 148, 1);
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(152, 148, 148, 0.15);
    width: 110px;
  }
  .circle-leave {
    background-color:  rgba(152, 148, 148, 1);
    border-radius: 4px;
    width: 9px;
    height: 9px;
    margin-right: 6px;
  } 
  .accept{
    background-color: #32844B;
    color: white;
  }
  .assign{
    border: 1px solid  #32844B;
    color:  #32844B;
  }
  .greyline{
    background-color: #d9d9d9;
  }
  .greenline{
    background-color: #32844B;
  }
  .page-no{
    border:1px solid #434343;
    
  }

  /* dark mode theme */
  :root{
    --background-color: #f6f6f6;
    --foreground-color: #003cff;
    --primary-text-color: #0a0a0a;
    --secondary-text-color:#ffffff;
    --toggle-bg: #32844B;
    --togge-fg:#0bf751;
  }
  
[data-theme="dark"]{
    --background-color: #0a0a0a;
    --foreground-color: #567aff;
    --primary-text-color: #f6f6f6;
    --secondary-text-color:#0a0a0a;
    --toggle-bg: #283452;
    --togge-fg:#00a6ff;
}